@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: unset;
  color: inherit;
  cursor: pointer;
}

.dark,
.dark > header {
  background-color: #12121b;
  color: white;
}

iframe {
  border: 1px dashed lightgray;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0.3rem;
  background: white;
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
}

header {
  z-index: 999;
  border-bottom: 1px solid lightgray;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  position: sticky;
  top: 0;
  background-color: white;
}

header .logo {
  color: red;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

header .logo .logo-name {
  color: violet;
  font-size: 1.3rem;
  line-height: 0;
  font-weight: 600;
}

header .logo .logo-brand {
  line-height: 0;
  font-size: 0.8rem;
  color: blueviolet;
}

header .nav-right {
  display: flex;
  gap: 1rem;
}

header .nav-right * {
  font-size: 1.3rem;
  background-color: inherit;
}

/* main */
main {
  min-height: 100vh;
  padding: 0.5rem 0.75rem;
}

main .hay {
  padding: 4rem 0;
  border-bottom: 1px solid lightgray;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.2rem lightgray;
}

main .hay div:first-child {
  font-size: 0.9rem;
}

main .hay div:nth-child(2) {
  font-size: 2.5rem;
  margin-top: 1rem;
}

main .hay div:nth-child(3) {
  font-size: 1.5rem;
}

main .project {
  padding: 3rem 0 0 0;
}

main .project .btn-projects {
  margin: 2rem 0;
  padding: 1rem 0;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-radius: 1rem;
  box-shadow: 0 0rem 0.5rem lightgray;
}

main .project .btn-projects button {
  background-color: indigo;
  color: white;
  padding: 1rem;
  margin: 0.4rem;
  border-radius: 0.4rem;
  line-height: 0;
}

main .project .btn-projects button:hover {
  opacity: 0.8;
}

main .visit-project {
  margin: 0.75rem auto;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  width: 100%;
}

main .visit-project a {
  display: inline-block;
}

main .visit-project span {
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: 500;
  color: violet;
}
main .visit-project sup {
  font-size: 0.6rem;
}

footer {
  border-top: 1px solid lightgray;
  height: 4rem;
  padding: 0 0.75rem;
}

footer .footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  gap: 0.5rem;
}

footer .footer-box .copyright {
  color: #4f4f5c;
  font-size: 0.8rem;
}

footer .footer-box .copyright a {
  color: blue;
}

footer .footer-box .footer-icon-profil {
  display: flex;
  gap: 0.75rem;
}

/* @media only screen and (max-width: 640px) {
  main .name-tag-container {
    flex-direction: column;
  }
} */

/* @media only screen and (min-width: 640px) {
  footer .footer-box {
    flex-direction: column;
  }
} */
@media only screen and (max-width: 640px) {
  footer .footer-box {
    flex-direction: column;
    justify-content: center;
  }

  footer .footer-box .footer-icon-profil {
    order: 1;
  }

  footer .footer-box .copyright {
    order: 2;
  }

  main .hay div:nth-child(2) {
    font-size: 2.2rem;
    margin-top: 0.7rem;
  }

  main .hay div:nth-child(3) {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  main .name-tag-container {
    flex-direction: column;
  }
  main .name-tag-container .name-tag {
    width: auto;
  }
}

@media only screen and (min-width: 992px) {
  header {
    padding: 0 4rem;
  }
  main {
    padding: 0.5rem 04rem;
  }
}
