* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accordion {
  border: 1px solid;
  margin: 1rem;
}

.accordion .accordion-item button {
  padding: 8px;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.accordion .accordion-item .accordion-content {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}

.accordion .accordion-item.active .accordion-content {
  height: calc-size(auto, size);
}

.accordion .accordion-item button .icon {
  transition: transform 0.5s ease;
}

.accordion .accordion-item.active button .icon {
  transform: rotate(180deg);
}
