@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  background-color: white;
  color: #333333;
  max-width: 48rem;
  margin: 0 auto;
}

body.dark {
  color: white;
}

.fa-regular {
  color: #333333;
  cursor: pointer;
}

.dark .fa-regular {
  color: #eeeeee;
}

a {
  text-decoration: none;
  color: inherit;
}

a.cta {
  font-size: 0.85rem;
  padding: 0.5rem 1rem;
  display: block;
  max-width: max-content;
  border-radius: 1rem;
  margin-top: 1rem;
  background-color: #333333;
  color: white;
  transition: 0.2s;
}

a.cta.center {
  margin: 0 auto;
}

a.cta:hover {
  background-color: #777777;
}

button {
  border: unset;
}

h1 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #444444;
  text-align: center;
}

.dark h1 {
  color: #dddddd;
}

section > p {
  color: #666666;
  text-align: center;
  padding: 1rem 7rem;
}

.dark p {
  color: #bbbbbb;
}

.dark,
.dark > header {
  background-color: #12121b;
  color: white;
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
}

header {
  z-index: 999;
  /* border-bottom: 1px solid lightgray; */
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 0.05rem #aaaaaa;
}

header .logo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

header .logo .logo-name {
  font-size: 1.3rem;
  line-height: 0;
  font-weight: 600;
}

header .logo .logo-brand {
  line-height: 0;
  font-size: 0.8rem;
}

header .nav-right {
  display: flex;
  gap: 1rem;
}

header .nav-right a,
header .nav-right button {
  font-size: 1.3rem;
  background-color: inherit;
  display: inline-block;
  transition: 0.1s;
}

header .nav-right a:hover,
header .nav-right button:hover {
  transform: scale(1.2);
}

main {
  min-height: calc(100vh - 4rem);
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem 0;
}

main .me {
  text-align: center;
}

main .me p {
  color: #888888;
}

main .me p span {
  font-weight: 600;
  color: #333333;
}

.dark main .me p span {
  color: #aaaaaa;
}

main .web .web-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

main .web .web-cards .web-card {
  flex: 1;
  padding: 1.3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.1rem 0.1rem #aaaaaa;
}

main .web .web-cards .web-card h2 {
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

main .web .web-cards .web-card p {
  font-size: 0.9rem;
  color: #888888;
}

main .skills .badges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.1rem;
  padding: 0 4rem;
}

main .skills .badges .badge {
  background-color: #333333;
  border: 1px solid;
  font-size: 0.75rem;
  color: white;
  padding: 0.2rem 0.7rem;
  border-radius: 1rem;
}
/* footer */
footer {
  padding: 1rem;
}

footer .footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  gap: 0.5rem;
}

footer .footer-box .copyright {
  color: #888888;
  font-size: 0.8rem;
}

footer .footer-box .copyright a {
  font-weight: 600;
  color: black;
}

.dark footer .footer-box .copyright a {
  font-weight: 600;
  color: white;
}

footer .footer-box .copyright a:hover {
  text-decoration: underline;
}

footer .footer-box .footer-icon-profil {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.3rem;
}

footer .footer-box .footer-icon-profil a {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  transition: transform 0.2s;
}

footer .footer-box .footer-icon-profil a:hover {
  transform: scale(1.2);
}

.dark footer .footer-box .footer-icon-profil a {
  fill: white;
}

@media only screen and (max-width: 640px) {
  section > p {
    padding: 1rem 1rem;
  }

  main .web .web-cards {
    flex-direction: column;
  }

  footer .footer-box {
    flex-direction: column;
    justify-content: center;
  }

  footer .footer-box .footer-icon-profil {
    order: 1;
  }

  footer .footer-box .copyright {
    order: 2;
  }
}
