body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

nav a {
  text-decoration: none;
  max-width: fit-content;
}

nav a:hover {
  text-decoration: underline;
}
