<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>carousel2</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="carousel-container">
      <div class="carousel" id="carousel-1">
        <!-- buttons -->
        <button type="button" class="btn left" title="right">Prev</button>
        <button type="button" class="btn right" title="right">Next</button>
        <!-- circle -->
        <div class="circle-container">
          <div class="circle 1"></div>
          <div class="circle 2"></div>
          <div class="circle 3"></div>
          <div class="circle 4"></div>
        </div>
        <!-- screen -->
        <div class="screen">
          <img src="/images/pex-beach1.jpg" alt="" />
          <div class="text-container">
            <h1>Title1</h1>
            <p>Content Title1</p>
          </div>
        </div>
        <div class="screen">
          <img src="/images/pex-nature1.jpg" alt="" />
          <div class="text-container">
            <h1>Title2</h1>
            <p>Content Title2</p>
          </div>
        </div>
        <div class="screen">
          <img src="/images/pex-nature2.jpg" alt="" />
          <div class="text-container">
            <h1>Title3</h1>
            <p>Content Title3</p>
          </div>
        </div>
        <div class="screen">
          <img src="/images/pex-nature3.jpg" alt="" />
          <div class="text-container">
            <h1>Title4</h1>
            <p>Content Title4</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
