* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 4rem;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

header #open-nav,
header nav #close-nav {
  display: none;
}

@media (max-width: 400px) {
  header #open-nav,
  header nav #close-nav {
    display: block;
  }

  header nav {
    position: fixed;
    background-color: gray;
    inset: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }

  header nav.active {
    transform: translateX(0);
  }

  header nav #close-nav {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  header nav .menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
