<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>mobile navbar 3</title>
  </head>
  <body>
    <header>
      <a href="#">logo</a>
      <button type="button" id="open-nav">open navbar</button>
      <nav>
        <button type="button" id="close-nav">close navbar</button>
        <div class="menu">
          <a href="#">menu1</a>
          <a href="#">menu2</a>
          <a href="#">menu3</a>
        </div>
      </nav>
    </header>

    <script src="script.js"></script>
  </body>
</html>
