<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />

    <title>slider3 - from skillthrive</title>
  </head>
  <body>
    <section class="container">
      <div class="slider-wrapper">
        <div class="slider">
          <img
            id="slide1"
            src="https://images.pexels.com/photos/2325447/pexels-photo-2325447.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="dummy image"
          />
          <img
            id="slide2"
            src="https://images.pexels.com/photos/1133957/pexels-photo-1133957.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="dummy image"
          />
          <img
            id="slide3"
            src="https://images.pexels.com/photos/158063/bellingrath-gardens-alabama-landscape-scenic-158063.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="dummy image"
          />
        </div>

        <div class="slider-nav">
          <a href="#slide1" title="dots"></a>
          <a href="#slide2" title="dots"></a>
          <a href="#slide3" title="dots"></a>
        </div>
      </div>
    </section>

    <script src="script.js"></script>
  </body>
</html>
